<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suchakra.lcdwatchface"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />
        
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

		<receiver android:name=".WatchFaceLCDClockProvider" android:enabled="true" android:exported="true" android:label="@string/app_name">
             <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="cn.indroid.action.weather.freshwidget" />
            </intent-filter>

            <meta-data android:name="android.appwidget.provider" android:resource="@xml/lcd_widget_provider" />
        </receiver>
        <service android:name=".LCDClockService"></service>
    </application>

</manifest>
